<template>
  <div v-if="Object.keys(profileData).length" id="user-profile">
    <profile-header :header-data="profileData.header" />
    <!-- profile info  -->
    <section id="profile-info">

      <b-row>
        <!-- about suggested page and twitter feed -->
        <b-col lg="12">
             <b-alert v-if="userData.role === 'visitantes'" show variant="danger" style="padding:12px">
               Tu perfil esta incompleto
          </b-alert>
        </b-col>

        <!--/ about suggested page and twitter feed -->

        <!-- post -->
        <b-col lg="4" cols="12" order="1" order-lg="2">
          <profile-post :posts="profileData.post" />
        </b-col>
        <b-col lg="8" cols="12" order="1" order-lg="2">
          <profile-billetera :posts="profileData.post" />
        </b-col>
        <!-- post -->

        <!-- latest photos suggestion and polls -->

        <!--/ latest photos suggestion and polls -->
      </b-row>
    </section>
    <!--/ profile info  -->
  </div>
</template>

<script>
import { BRow, BCol, BAlert } from "bootstrap-vue";

import ProfileHeader from "./ProfileHeader.vue";
import ProfileAbout from "./ProfileAbout.vue";
import ProfileSuggestedPages from "./ProfileSuggestedPages.vue";
import ProfileTwitterFeed from "./ProfileTwitterFeed.vue";
import ProfilePost from "./ProfilePost.vue";
import ProfileLatestPhotos from "./ProfileLatestPhotos.vue";
import ProfileSuggestion from "./ProfileSuggestion.vue";
import ProfilePolls from "./ProfilePolls.vue";
import ProfileBilletera from "./ProfileBilletera";
import profileBottom from "./profileBottom.vue";

/* eslint-disable global-require */
export default {
  components: {
    BRow,
    BCol,
    BAlert,
    ProfileHeader,
    ProfileAbout,
    ProfileSuggestedPages,
    ProfileTwitterFeed,
    ProfilePost,
    ProfileLatestPhotos,
    ProfileSuggestion,
    ProfilePolls,
    profileBottom,
    ProfileBilletera,
  },
  data() {
    return {
      profileData: {},
      userData: JSON.parse(localStorage.getItem("userData")),
    };
  },
  created() {
    this.$http.get("/profile/data").then((res) => {
      this.profileData = res.data;
    });
  },
};
/* eslint-disable global-require */
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-profile.scss";
</style>
