<template>
  <!-- Table Container Card -->
  <b-card no-body>
    <div class="m-2">
      <!-- Table Top -->
      <b-row>
        <!-- Per Page -->
        <b-col
          cols="12"
          md="6"
          class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
        >
          <label>Entradas</label>

          <v-select
            v-model="perPageClients"
            :options="pageOptionsClients"
            :clearable="false"
            class="per-page-selector d-inline-block ml-50 mr-1"
          />
          <b-button variant="primary" :to="{ name: 'apps-referido-add' }">
            Agregar referidos
          </b-button>
        </b-col>

        <!-- Search -->
        <b-col cols="12" md="6">
          <div class="d-flex align-items-center justify-content-end">
            <b-form-input
              v-model="filter"
              class="d-inline-block mr-1"
              placeholder="Buscar referidos..."
            />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >limpiar</b-button
              >
            </b-input-group-append>
          </div>
        </b-col>
      </b-row>
    </div>

    <!-- Main table element -->
    <b-table
      empty-text="No hay referidos registrados por el momento"
      :items="referidos.referido.referidos"
      :fields="fields"
      responsive
      :current-page="currentPageClients"
      :per-page="perPageClients"
      :filter="filter"
      :filter-included-fields="filterOn"
      show-empty
      @filtered="onFiltered"
      class="position-relative"
      outlined
    >
      <template #cell(porcentaje_perfil)="row">
        <template v-if="row.item.porcentaje_perfil === null">
          <b-badge pill variant="light-danger">
            0%
          </b-badge>
        </template>
        <template v-else>
          <b-badge pill variant="light-success">
            {{ row.item.porcentaje_perfil }}
          </b-badge>
        </template>
      </template>
      <template #head(icon)>
        <feather-icon icon="MoreVerticalIcon" class="mx-auto" />
      </template>
      <template #cell(icon)="row">
          <feather-icon
            :id="`invoice-row-${row.item.id}-preview-icon`"
            icon="EditIcon"
            size="16"
            class="mx-1"
            @click="$router.push({ name: 'apps-referido-edit', params: { id: row.item.id_referido_primary }})"
          />
          <b-tooltip
            title="Editar perfil"
            :target="`invoice-row-${row.item.id}-preview-icon`"
          />
         
     
      </template>
      <template #cell(actions)="row">
        <b-button
          size="sm"
          variant="success"
          @click="tipoCliente(row.item)"
          v-if="usuario.role === 'administrator'"
        >
          Cuestionario
        </b-button>
        <b-button variant="warning" v-if="usuario.role === 'socio_referidor'">
          En proceso...
        </b-button>
      </template>
        <template #cell(nombre_tipo)="row">
          
      <template v-if="row.item.slug_tipo === 'cliente_vendedor'">
          <b-badge pill variant="light-primary">
            {{ row.item.nombre_tipo}}
          </b-badge>
        </template>
        <template v-else>
          <b-badge pill variant="light-success">
            {{ row.item.nombre_tipo }}
          </b-badge>
        </template>
      </template>
    </b-table>

    <div class="mx-2 mb-2">
      <b-row>
        <!-- Pagination -->
        <b-col
          cols="12"
          sm="6"
          class="d-flex align-items-center justify-content-center justify-content-sm-end"
        >
          <b-pagination
            v-model="currentPageClients"
            :total-rows="totalRows"
            :per-page="perPageClients"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
          >
            <template #prev-text>
              <feather-icon icon="ChevronLeftIcon" size="18" />
            </template>
            <template #next-text>
              <feather-icon icon="ChevronRightIcon" size="18" />
            </template>
          </b-pagination>
        </b-col>
      </b-row>
    </div>
  </b-card>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
} from "bootstrap-vue";
import vSelect from "vue-select";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
  },
  data() {
    return {
      fields: [
        { key: "icon" },
        { key: "porcentaje_perfil", label: "Puntaje", sortable: true },
        { key: "estado_persona", label: "Estado", sortable: true },
        { key: "primer_nombre", label: "Nombre", sortable: true },
        { key: "celular_whatsapp", label: "Whatsapp", sortable: true },
        { key: "celular_movil", label: "Telefono", sortable: true },
        { key: "nombre_tipo", label: "Tipo de cliente", sortable: true },
        { key: "actions", label: "Acciones" },
      ],
      totalRows: 1,
      currentPageClients: 1,
      perPageClients: 5,
      pageOptionsClients: [5, 10, 15, { value: 100, text: "Show a lot" }],

      filter: null,
      filterOn: [],
    };
  },
  mounted() {
    this.$store
      .dispatch("referidoStoreModule/fetchInvoices")
      .then((response) => {
        const { referidos } = response;
        this.totalRows = referidos.length;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  setup() {},

  methods: {
    tipoCliente(tipo) {
      this.$router.push(
        "/preguntas/crear/" + tipo.id_referido_primary + "/" + tipo.slug_tipo
      );
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pNits due to filtering
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },
  },
  created() {},

  computed: {
    usuario() {
      let store = this.$store.state.userData.userData;
      return store;
    },
    referidos() {
      return this.$store.state.referidoStoreModule;
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
