<template>
  <div>
    <b-card-code title="Formulario preguntas comprador" v-if="show">
      <b-form @submit.prevent="enviarData">
        <b-row>
          <b-col md="6">
            <b-form-group
              label="¿Cuál es la mejor forma para comunicarnos con usted?"
              label-for="pregunta1"
            >
              <b-form-group>
                <b-form-checkbox
                  id="llamada_telefonica"
                  name="llamada_telefonica"
                  value="llamada_telefonica"
                  v-model="preguntas.respuesta1"
                >
                  llamada telefónica
                </b-form-checkbox>
                <b-form-checkbox
                  id="whatsapp"
                  name="whatsapp"
                  value="whatsapp"
                  v-model="preguntas.respuesta1"
                >
                  WhatsApp
                </b-form-checkbox>
                <b-form-checkbox
                  id="instagram"
                  name="instagram"
                  value="instagram"
                  v-model="preguntas.respuesta1"
                >
                  Instagram
                </b-form-checkbox>
                <b-form-checkbox
                  id="facebook"
                  name="facebook"
                  value="facebook"
                  v-model="preguntas.respuesta1"
                >
                  facebook
                </b-form-checkbox>
                <b-form-checkbox
                  id="email"
                  name="email"
                  value="correo"
                  v-model="preguntas.respuesta1"
                >
                  Correo electronico
                </b-form-checkbox>
              </b-form-group>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label="¿En qué horario? " label-for="horario">
              <b-row>
                <b-col>
                  <b-form-group>
                    <h5>inicial</h5>
                    <b-form-timepicker
                      v-model="preguntas.respuesta2.inicial"
                      locale="en"
                    />
                  </b-form-group>
                </b-col>

                <b-col>
                  <b-form-group>
                    <h5>final</h5>
                    <b-form-timepicker
                      v-model="preguntas.respuesta2.final"
                      locale="en"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label="¿Ha salido con algún agente a ver alguna propiedad?"
              label-for="mc-city"
            >
              <!-- date and time -->
              <b-form-radio
                v-model="preguntas.respuesta3.valor"
                name="3"
                value="si"
              >
                Si
              </b-form-radio>
              <b-col>
                <b-form-group
                  label="¿cómo ha sido su experiencia?."
                  label-for="mc-city"
                  v-if="preguntas.respuesta3.valor != ''"
                >
                  <b-form-input
                    v-model="preguntas.respuesta3.subrespuesta"
                    id="mc-company"
                    placeholder="Escribe tu respuesta"
                  />
                </b-form-group>
              </b-col>
              <b-form-radio
                v-model="preguntas.respuesta3.valor"
                name="3"
                value="no"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label="¿Cuál es el rango de precio de la compra?"
              label-for="mc-city"
            >
              <b-row>
                <b-col>
                  <b-form-input
                    v-model="preguntas.respuesta4.inicial"
                    id="rango_compra_inicial"
                    placeholder="Rango inicial"
                  />
                </b-col>
                <b-col>
                  <b-form-input
                    v-model="preguntas.respuesta4.final"
                    id="rango_compra_final"
                    placeholder="Rango final"
                  />
                </b-col>
              </b-row>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label="¿Alguien más participará en la toma de decisión de compra del inmueble?"
              label-for="mc-country"
            >
              <b-form-radio
                v-model="preguntas.respuesta5.valor"
                name="5"
                value="si"
              >
                Si
              </b-form-radio>
              <b-col>
                <b-form-group
                  label="¿Como seria su toma de decisiones?"
                  label-for="mc-city"
                  v-if="preguntas.respuesta5.valor != ''"
                >
                  <b-form-input
                    v-model="preguntas.respuesta5.subrespuesta"
                    id="mc-company"
                    placeholder="Escribe tu respuesta"
                  />
                </b-form-group>
              </b-col>
              <b-form-radio
                v-model="preguntas.respuesta5.valor"
                name="5"
                value="no"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label="¿Quién vivirá o qué uso le dará al inmueble?"
              label-for="mc-company"
            >
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta6"
                  id="mc-company"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>
          <!-- <b-col md="6">
            <b-form-group label-for="" label="¿Cuál es la razón de su compra?">
              <b-row>
                <b-col>
                  <b-form-textarea
                    id="textarea-default"
                    placeholder="Textarea"
                    rows="3"
                    v-model="preguntas.respuesta21"
                  />
                </b-col>
              </b-row>
            </b-form-group>
          </b-col>-->
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿Hace cuánto tiempo está buscando este inmueble?"
            >
              <div class="form-label-group">
                <b-form-input
                  id="mc-email"
                  type="text"
                  placeholder="Escribe tu respuesta"
                  v-model="preguntas.respuesta7"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label="¿Vive en inmueble alquilado?"
              label-for="mc-company"
            >
              <b-form-radio
                v-model="preguntas.respuesta8.valor"
                name="8"
                value="si"
              >
                Si
              </b-form-radio>
              <b-col>
                <b-form-group
                  label="¿Sabe cuándo termina su contrato de alquiler?"
                  label-for="mc-city"
                  v-if="preguntas.respuesta8.valor != ''"
                >
                  <b-form-input
                    v-model="preguntas.respuesta8.subrespuesta"
                    id="mc-company"
                    placeholder="Escribe tu respuesta"
                  />
                </b-form-group>
              </b-col>
              <b-form-radio
                v-model="preguntas.respuesta8.valor"
                name="8"
                value="no"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label-for="¿Es propietario de algun inmueble?"
              label="¿Es propietario de algun inmueble?"
            >
              <b-form-radio v-model="preguntas.respuesta9" name="9" value="si">
                Si
              </b-form-radio>

              <b-form-radio v-model="preguntas.respuesta9" name="9" value="no">
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <!--  <b-col md="6">
            <b-form-group
              label="¿Necesita vender un inmueble actual antes de esta compra?"
              label-for="mc-company"
            >
              <b-form-radio
                v-model="preguntas.respuesta10"
                name="some-radios2"
                value="A"
              >
                Si
              </b-form-radio>
              <b-form-radio
                v-model="preguntas.respuesta10"
                name="some-radios2"
                value="B"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿Ha firmado un acuerdo de venta con algún agente de bienes raíces para vender su inmueble?"
            >
              <b-col>
                <b-form-radio
                  name="sin"
                  value="si"
                  v-model="preguntas.respuesta11"
                >
                  Si
                </b-form-radio>
                <b-form-radio
                  name="sin"
                  value="no"
                  v-model="preguntas.respuesta11"
                >
                  No
                </b-form-radio>
              </b-col>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group
              label-for="mc-company"
              label="¿Quién vivirá o qué uso le dará al inmueble?"
            >
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta12"
                  id="mc-company"
                  placeholder="Escriba su respuesta"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label-for="mc-company"
              label="¿Pagará en efectivo o con préstamo bancario?"
            >
              <b-col>
                <b-form-checkbox
                  id="prestamo"
                  name="prestamo"
                  value="prestamo"
                  v-model="preguntas.respuesta13.valor"
                >
                  Efectivo
                </b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-group
                  label-for="mc-company"
                  label="Valor"
                  v-if="preguntas.respuesta13.valor != ''"
                >
                  <div class="form-label-group">
                    <b-form-input
                      v-model="preguntas.respuesta13.subrespuesta"
                      id="mc-company"
                      placeholder="Escriba el valor"
                    />
                  </div>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-checkbox
                  id="prestamo1"
                  name="prestamo2"
                  value="bancario"
                  v-model="preguntas.respuesta13.valor1"
                >
                  Prestamo bancario
                </b-form-checkbox>
              </b-col>
              <b-col cols="12">
                <b-form-group
                  label="Estados del credito"
                  label-for="h-occupation"
                  v-if="preguntas.respuesta13.valor1 != ''"
                >
                  <b-form-select
                    id="tipo_documento"
                    v-model="preguntas.respuesta13.subrespuesta2"
                    :options="tipo_documento"
                    placeholder=""
                  ></b-form-select>
                </b-form-group>
              </b-col>

              <b-col>
                <b-form-checkbox
                  id="prestamo3"
                  name="prestamo3"
                  value="prestamo_banco"
                  v-model="preguntas.respuesta13.valor2"
                >
                  Efectivo y prestamo bancario
                </b-form-checkbox>
              </b-col>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label-for=""
              label="Cuando tiene crédito con el banco ¿Cuánto cancelará de cuota inicial?"
            >
              <div class="form-label-group">
                <b-form-input
                  id="mc-email"
                  type="text"
                  placeholder="Escribe tu respuesta"
                  v-model="preguntas.respuesta14"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group
              label-for="asesor_confianza"
              label="¿Le gustaría que le recomendará un asesor bancario de confianza?"
            >
              <b-form-radio
                name="12"
                value="si"
                v-model="preguntas.respuesta15"
              >
                Si
              </b-form-radio>
              <b-form-radio
                name="12"
                value="no"
                v-model="preguntas.respuesta15"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>

          <b-col md="12">
            <b-form-group
              label-for="mc-company"
              label="En una escala de 1 a 10 que tan urgente es para usted comprar un inmueble.?"
            >
              <div class="form-label-group">
                <b-form-textarea
                  v-model="preguntas.respuesta16"
                  id="textarea-default"
                  placeholder="Textarea"
                  rows="3"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿Para qué fecha requiere su nuevo inmueble?"
            >
              <div class="form-label-group">
                <flat-pickr
                  v-model="preguntas.respuesta17"
                  class="form-control"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group
              label-for="mc-company"
              label="Me encantaría ayudarle a comprar su inmueble, para esto es conveniente que concertemos una cita con
todas aquellas personas que tomen la decisión, para poder ayudarles a conseguir lo que necesitan en el
tiempo que lo requieran ¿Cuándo le parece bien que nos veamos?
Fecha y hora de la cita: "
            >
              <div class="form-label-group">
                <b-form-group>
                  <h5>final</h5>
                  <flat-pickr
                    v-model="preguntas.respuesta18"
                    class="form-control"
                    :config="{ enableTime: true, dateFormat: 'Y-m-d H:i' }"
                  />
                </b-form-group>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group label-for="" label="Información adicional">
              <div class="form-label-group">
                <b-form-textarea
                  v-model="preguntas.respuesta19"
                  id="textarea-default"
                  placeholder="Textarea"
                  rows="3"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group
              label-for="mc-company"
              label="¿Hay alguna Información que usted crea que debe permanecer confidencial?"
            >
              <div class="form-label-group">
                <b-form-textarea
                  v-model="preguntas.respuesta20"
                  id="textarea-default"
                  placeholder="Textarea"
                  rows="3"
                />
              </div>
            </b-form-group>
          </b-col>-->

          <!-- submit and reset -->
        </b-row>
        <b-row>
          <b-col md="6">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              type="submit"
              variant="primary"
              class="mr-1"
            >
              Registrar preguntas
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card-code>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BFormTextarea,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
} from "bootstrap-vue";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import flatPickr from "vue-flatpickr-component";
import Ripple from "vue-ripple-directive";
import preguntaStoreModule from "../preguntaStoreModule";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
//formulario
export default {
  props: {
    tipo: [String, Number],
  },
  components: {
    BRow,
    BCol,
    BFormTextarea,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BCardCode,
    BFormDatalist,
    flatPickr,
    BFormRadio,
    BFormSelect,
    BFormTimepicker,
    ToastificationContent,
  },
  data() {
    return {
      redes: [],
      tipo_documento: [
        { text: "Credito aprobado", value: "Credito aprobado" },
        { text: "credito pre aprobado", value: "credito pre aprobado" },
        { text: "Otro", value: "Otro" },
      ],
      options: ["Credito aprobado", "credito pre aprobado", "Otro"],
      cual_es_la_mejor_forma_para_comunicarnos_con_usted: [],
      dateNtim: null,
      dateDefault: null,
      checked: false,
      checked1: false,
      checked2: false,
      checked3: false,
      checked4: false,
      date: null,
      show: false,
      selected: null,
      selected1: null,
      preguntas: {
        tipo_cliente: null,
        id_referido: null,
        pregunta1: 1,
        respuesta1: ["llamada_telefonica"],
        pregunta2: 2,
        respuesta2: {
          inicial: "",
          final: "",
        },
        pregunta3: 3,
        respuesta3: {
          valor: "",
          subrespuesta: "",
        },
        pregunta4: 5,
        respuesta4: {
          inicial: "",
          final: "",
        },
        pregunta5: 5,
        respuesta5: {
          valor: "",
          subrespuesta: "",
        },
        pregunta6: 6,
        respuesta6: "",
        pregunta6: 6,
        respuesta6: "",

        pregunta7: 7,
        respuesta7: "",

        pregunta8: 8,
        respuesta8: {
          valor: "",
          subrespuesta: "",
        },

        pregunta9: 9,
        respuesta9: "",

        /*pregunta10: 10,
        respuesta10: "",
        pregunta9: 8,
        respuesta9: "",

        pregunta11: 11,
        respuesta11: "",
        pregunta12: 12,
        respuesta12: "",
        pregunta13: 13,
        respuesta13: {
          valor: "",
          valor1: "",
          valor2: "",
          subrespuesta: "",
          subrespuesta2: "",
        },
        pregunta14: 14,
        respuesta14: "",
        pregunta15: 15,
        respuesta15: "",
        pregunta16: 16,
        respuesta16: "",
        pregunta17: 17,
        respuesta17: "",
        pregunta18: 18,
        respuesta18: "",

        pregunta19: 19,
        respuesta19: "",
        pregunta20: 20,
        respuesta20: "",
        pregunta20: 21,
        respuesta20: "",*/
      },
    };
  },

  directives: {
    Ripple,
  },
  computed: {},
  created() {
    if (this.$route.params.tipo == "cliente_comprador") {
      this.preguntas.tipo_cliente = "cliente_comprador";
      this.preguntas.id_referido = this.$route.params.id;
      this.show = true;
    }

    this.getPreguntas(this.$route.params.id);
  },
  methods: {
    getPreguntas(data) {
      const REFERIDOS_APP_STORE_MODULE_NAME = "app-preguntas";

      // Register module
      if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
        store.registerModule(
          REFERIDOS_APP_STORE_MODULE_NAME,
          preguntaStoreModule
        );

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
          store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
      });

      store
        .dispatch("app-preguntas/listResponsePregunta", {id: data})
        .then((response) => {
        
        
        })
        .catch((error) => {
          console.log(error);

         
        });
    },

    enviarData() {
      const REFERIDOS_APP_STORE_MODULE_NAME = "app-preguntas";

      // Register module
      if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
        store.registerModule(
          REFERIDOS_APP_STORE_MODULE_NAME,
          preguntaStoreModule
        );

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
          store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
      });

      store
        .dispatch("app-preguntas/addPregunta", this.preguntas)
        .then((response) => {
          console.log(response);
          this.$toast({
            component: ToastificationContent,
            props: {
              title: "Gracias por responder",
              icon: "EditIcon",
              variant: "success",
            },
          });
          this.$router.push({ name: "apps-referido-list" });
        })
        .catch((error) => {
          console.log(error);

          this.$toast({
            component: ToastificationContent,
            props: {
              title: "Error de la informacion",
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },
  },
};
</script>

<style></style>
