<template>
  <div>
    <b-card-code title="Formulario preguntas vendedor" v-if="show">
      <b-form @submit.prevent="sendResponse">
        <b-row>
          <b-col cols="6">
            <b-form-group label="Tipo de inmueble" label-for="mc-company">
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta1"
                  :options="tipo_documento"
                  placeholder=""
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Direccion">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta2"
                  id="direccion"
                  type="text"
                  placeholder="Escrible tu direccion"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="condominio" label="Condominio">
              <div class="form-label-group">
                <b-form-input
                  id="condominio"
                  v-model="preguntas.respuesta3"
                  placeholder="Escriba su respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Barrio">
              <div class="form-label-group">
                <b-form-input
                  id="mc-text"
                  v-model="preguntas.respuesta4"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Estrato">
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta5"
                  :options="estrato"
                  placeholder=""
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Año de construcion">
              <div class="form-label-group">
                <flat-pickr
                  v-model="preguntas.respuesta6"
                  class="form-control"
                  :config="{ enableTime: true, dateFormat: 'Y-m-d' }"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Area lote">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta7"
                  id="area_lote"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Area construida">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta8"
                  id="area"
                  type="text"
                  placeholder="Area construccion"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Frente">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta9"
                  id="frente"
                  type="text"
                  placeholder="Escribe tu respueta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Fondo">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta10"
                  id="fondo"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

        <!--  <b-col md="6">
            <b-form-group label-for="" label="Número de Pisos.">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta11"
                  id="no_acto"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Matricula Inmobiliaria">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta12"
                  id="mc-text"
                  type="text"
                  placeholder="Matricula inmobiliaria"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Servicios públicos Disponibles">
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta13"
                  :options="servicio_publicos"
                  placeholder=""
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Valor Comercial Venta">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta14"
                  id="mc-text"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Valor Avaluo Catastral">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta15"
                  id="mc-text"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Vr. Administración">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta16"
                  id="mc-text"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Saldo Hipoteca">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta17"
                  id="mc-text"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Acepta Permuta:">
              <div class="form-label-group">
                <b-form-radio
                  name="12"
                  value="si"
                  v-model="preguntas.respuesta18"
                >
                  Si
                </b-form-radio>
                <b-form-radio
                  name="12"
                  value="no"
                  v-model="preguntas.respuesta18"
                >
                  No
                </b-form-radio>
              </div>
            </b-form-group>
          </b-col>-->
          <!-- submit and reset -->
        </b-row>
        <b-col>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            type="submit"
            variant="primary"
            class="mr-1"
          >
            Registrar preguntas
          </b-button>
        </b-col>
      </b-form>
    </b-card-code>
  </div>
</template>

<script>
import Ripple from "vue-ripple-directive";
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BFormText,
  BFormDatalist,
  BCard,
  BFormTextarea,
  BCardText,
  BFormSelect,
  BFormRadio,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import preguntaStoreModule from "../preguntaStoreModule";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BFormText,
    BFormDatalist,
    BCardCode,
    BCard,
    flatPickr,
    BFormTextarea,
    BCardText,
    BFormSelect,
    BFormRadio,
  },

  data() {
    return {
      show: false,
      tipo_documento: [
        { text: "Apartamento", value: "Apartamento" },
        { text: "Casa", value: "Casa" },
        { text: "Apartaestudio", value: "Apartaestudio" },
        { text: "Oficina", value: "Oficina" },
        { text: "Consultorio", value: "Consultorio" },
        { text: "Local", value: "Local" },
        { text: "Lote", value: "Lote" },
        { text: "Finca", value: "Finca" },
        { text: "Bodega", value: "Bodega" },
        { text: "Habitacion", value: "Habitacion" },
        { text: "Parqueadero", value: "Parqueadero" },
      ],
      estrato: [
        { text: "Estrato 1", value: "1" },
        { text: "Estrato 2", value: "2" },
        { text: "Estrato 3", value: "3" },
        { text: "Estrato 4", value: "4" },
        { text: "Estrato 5", value: "5" },
        { text: "Estrato 6", value: "6" },
        { text: "Estrato 7", value: "7" },
      ],
      servicio_publicos: [
        { text: "Energía, Acueducto", value: "Energía, Acueducto" },
        { text: "Alcantarillado", value: "Alcantarillado" },
        { text: "Gas Domiciliario", value: "Gas Domiciliario" },
      ],
      preguntas: {
        tipo_cliente: null,
        id_referido: null,
        pregunta1: 1,
        respuesta1:  "Apartamento",
        pregunta2: 2,
        respuesta2: null,
        pregunta3: 3,
        respuesta3: null,
        pregunta4: 4,
        respuesta4: null,
        pregunta5: 5,
        respuesta5: 1,
        pregunta6: 6,
        respuesta6: null,
        pregunta7: 7,
        respuesta7: null,
        pregunta8: 8,
        respuesta8: null,
        pregunta9: 9,
        respuesta9: null,
        pregunta10: 10,
        respuesta10: null,
        /*pregunta11: 11,
        respuesta11: null,
        pregunta12: 12,
        respuesta12: null,
        pregunta13: 13,
        respuesta13: "Energía, Acueducto",
        pregunta14: 14,
        respuesta14: null,
        pregunta15: 15,
        respuesta15: null,
        pregunta16: 16,
        respuesta16: null,
        pregunta17: 17,
        respuesta17: null,
        pregunta16: 16,
        respuesta16: null,
        pregunta17: 17,
        respuesta17: null,
        pregunta18: 18,
        respuesta18: null,*/
      },
    };
  },
  directives: {
    Ripple,
  },
  created() {
    if (this.$route.params.tipo == "cliente_vendedor") {
      this.preguntas.tipo_cliente = "cliente_vendedor";
      this.preguntas.id_referido = this.$route.params.id;
      this.show = true;
    }
  },

  methods: {
    sendResponse() {
      console.log(this.preguntas);
      const REFERIDOS_APP_STORE_MODULE_NAME = "app-pregustas";

      // Register module
      if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
        store.registerModule(
          REFERIDOS_APP_STORE_MODULE_NAME,
          preguntaStoreModule
        );

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
          store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
      });

      store
        .dispatch("app-pregustas/addPregunta", this.preguntas)
        .then((response) => {
          console.log('hhh')
          console.log(response);
          this.$toast({
            component: ToastificationContent,
            props: {
              title:'Gracias por responder',
              icon: "EditIcon",
              variant: "success",
            },
          });
         this.$router.push({ name: "apps-referido-list" });
        })
        .catch((error) => {
          this.$toast({
            component: ToastificationContent,
            props: {
              title: error.data.message,
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },
  },
};
</script>

<style></style>
