<template>
  <section class="invoice-add-wrapper">
   <formulario-comprador/>
   <formulario-vendedor/>
   
  </section>
</template>

<script>


import FormularioComprador from './helpers/formularioComprador.vue';
import FormularioVendedor from "./helpers/formularioVendedor.vue";


export default {
  components: {
    FormularioComprador,
    FormularioVendedor
  },
  
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>

<style lang="scss" scoped>
@import "~@core/scss/base/pages/app-invoice.scss";
@import "~@core/scss/base/components/variables-dark";

.form-item-section {
  background-color: $product-details-bg;
}

.form-item-action-col {
  width: 27px;
}

.repeater-form {
  // overflow: hidden;
  transition: 0.35s height;
}

.v-select {
  &.item-selector-title,
  &.payment-selector {
    background-color: #fff;

    .dark-layout & {
      background-color: unset;
    }
  }
}

.dark-layout {
  .form-item-section {
    background-color: $theme-dark-body-bg;

    .row .border {
      background-color: $theme-dark-card-bg;
    }
  }
}
</style>
