<template>
  <!-- form -->
  <div class="content-body">
    <section id="dashboard-ecommerce">
      <div class="row match-height">
        <div class="col-12 col-sm-12 col-xl-12 col-lg-12">
          <div class="card card-congratulation-medal">
            <div class="card-body">
              <h3>Registro de una empresa</h3>
              <p class="card-text font-small-3">
                Bienvenido, desde esta sección puedes crear una nueva Empresa en
                Addy
              </p>
              <!--<h3 class="mb-75 mt-2 pt-50">
                                    <a href="javascript:void(0);">$48.9k</a>
                            </h3>-->
              <hr />

              <form @submit.prevent enctype="multipart/form-data">
                <div class="form-group">
                  <label><b>* </b>Logo de la empresa</label>
                  <input
                    class="form-control"
                    type="file"
                    id="file"
                    ref="file"
                    name="file"
                    @change="logoImage"
                    accept="image/*"
                  />
                </div>

                <div class="form-group">
                  <label><b>* </b>Favicon Empresa</label>
                  <input
                    class="form-control"
                    type="file"
                    id="file"
                    ref="file"
                    name="file"
                    @change="faviconImage"
                    accept="image/*"
                  />
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <label><b>* </b>Tipo de Identificación:</label>
                      <select class="form-control" name="code_tipo_documento">
                        <option value=""></option>
                        <option value="1">CC</option>
                        <option value="2">NIT</option>
                        <option value="3">RUT</option>
                      </select>
                    </div>
                    <div class="col-7">
                      <label><b>* </b>Número de Identificación:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="indentificacion_tributaria"
                        value=""
                        id="nro_identificacion"
                      />
                    </div>
                    <div class="col-2">
                      <label><b>* </b>No. de verificación:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="digito_verificacion"
                        readonly=""
                        value=""
                        id="digito_verificacion"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label><b>* </b>Razón social:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="nombre_empresa"
                    value=""
                  />
                </div>

                <div class="form-group">
                  <label><b>* </b>Email empresa:</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email_empresa"
                    id="email"
                    value=""
                  />
                  <code id="error-email" style="display: none"
                    >Debes de digitar un correo válido.</code
                  >
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Descripción de la empresa:</label>
                      <textarea
                        class="form-control"
                        name="descripcion_empresa"
                      ></textarea>
                    </div>
                    <div class="col">
                      <label>Acerca de su negocio:</label>
                      <textarea
                        class="form-control"
                        name="acerca_negocio"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Teléfono fijo:</label>
                      <input
                        class="form-control"
                        type="number"
                        name="telefono_fijo"
                        value=""
                      />
                    </div>
                    <div class="col">
                      <label>WhatsApp:</label><br />
                      <input
                        class="form-control"
                        type="tel"
                        name="telefono_whatsapp"
                        id="celular_movil"
                        value=""
                      />
                      <span id="valid-msg" class="hide">✓ Válido</span>
                      <span id="error-msg" class="hide"></span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Dirección de la empresa:</label>
                      <input
                        class="form-control"
                        type="text"
                        name="direccion_empresa"
                        value=""
                      />
                    </div>
                    <div class="col">
                      <label>Código Postal:</label>
                      <input
                        class="form-control"
                        type="number"
                        name="codigo_postal"
                        value=""
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Palabras claves:</label>
                  <select
                    class="form-control palabras_claves"
                    multiple="multiple"
                    name="palabras_claves[]"
                  ></select>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>País de la empresa:</label>
                      <select
                        class="form-control"
                        id="selector"
                        name="codigo_pais"
                        value=""
                      >
                        <option value="" selected=""></option>

                        <option value=""></option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Ciudad de la empresa:</label>
                      <select
                        class="form-control"
                        id="selector_ciudad"
                        name="codigo_ciudad"
                        value=""
                      ></select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Estado de la Empresa:</label>
                  <select class="form-control" name="estado_empresa" value="">
                    <option value="">Seleccione un estado</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                  </select>
                </div>
                <center>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    @click="validationForm"
                  >
                    Registrar Empresa
                  </button>
                </center>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";
import store from "@/store/index";
import { ref, onUnmounted } from "@vue/composition-api";

import empresaStoreModule from "../empresaStoreModule";

export default {
  data() {
    return {
      empresa: {
        acerca_de_negocio: "addfghd",
        code_tipo_documento: 2,
        codigo_ciudad: 1,
        codigo_departamento: 2,
        codigo_pais: 1,
        codigo_postal: 1234,
        descripcion_empresa: "especialidad",
        direccion_empresa: "calle2",
        email_empresa: "empresa@empresa.com",
        estado_empresa: 2,
        favicon_empresa: null,
        identificacion_tributaria: 900594143,
        logo_empresa: null,

        nombre_empresa: "andres",
        palabras_claves: ["prueba"],
        telefono_principal: 12345645,
        telefono_whatsapp: 4323435,
      },
    };
  },
  methods: {
    logoImage: function (event) {
       this.empresa.logo_empresa = event.target.file[0];
     
    },

    faviconImage: function (event) {
      var input = event.target;
      let formData = new FormData();
      formData.append("file", input);
      this.empresa.favicon_empresa = formData
    },

    validationForm() {

      const EMPRESA_APP_STORE_MODULE_NAME = "app-empresa";

      // Register module
      if (!store.hasModule(EMPRESA_APP_STORE_MODULE_NAME))
        store.registerModule(EMPRESA_APP_STORE_MODULE_NAME, empresaStoreModule);

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(EMPRESA_APP_STORE_MODULE_NAME))
          store.unregisterModule(EMPRESA_APP_STORE_MODULE_NAME);
      });

      store
        .dispatch("app-empresa/addEmpresa", this.empresa)
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          if (error.response.status === 404) {
            //userData.value = undefined;
          }
        });

    },
  },
};
</script>
