<template>
  <div>
    <b-row>
      <b-col cols="12">
        <form-wizard
          color="#7367F0"
          :title="null"
          :subtitle="null"
          layout="vertical"
          finish-button-text="Registrar"
          back-button-text="Atras"
          next-button-text="Siguiente"
          class="wizard-vertical mb-3"
          @on-complete="confirmText"
        >
          <!-- account datails tab -->
          <tab-content
            title="Informacion basica"
            :before-change="validationInformacionBasica"
          >
            <validation-observer ref="validacionInfoBasica">
              <b-row>
                <b-col cols="12" class="mb-2">
                  <h5 class="mb-0">Informacion basica</h5>
                  <small class="text-muted">
                    Ingresa todos los campos, si tienes (*) Son
                    obligatorios</small
                  >
                </b-col>
                <!-- <b-col md="12">
                        <b-form-group label="Foto Perfil">
                          <b-form-file
                            id="file"
                            ref="file"
                            name="file"
                            class="btn-file"
                            @change="onFileChange"
                            accept="image/*"
                          />
                          <div
                            class="image-preview row"
                            v-if="imageData.length > 0"
                          >
                            <div class="img-wrapper">
                              <img
                                style="max-width: 150px; max-height: 150px"
                                class="image-input"
                                v-bind:src="imageData"
                              />
                            </div>
                          </div>
                        </b-form-group>
                      </b-col>-->
                <b-col md="6">
                  <b-form-group
                    label="* Tipo de documento"
                    label-for="tipo_documento"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="tipo documento"
                      rules="required"
                    >
                      <b-form-select
                        id="tipo_documento"
                        v-model="form.code_tipo_documento"
                        :state="errors.length > 0 ? false : null"
                        :options="tipo_documento"
                        placeholder=""
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="* Numero de Cedula"
                    label-for="v-numero_cedula"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="numero_cedula"
                      rules="required|min:5|max:14"
                    >
                      <b-form-input
                        id="v-numero_cedula"
                        v-model="form.numero_cedula"
                        type="number"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Escribe tu número de cedula"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        El numero debe tener entre 5 a 14 numeros
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group
                    label="* Primer nombre"
                    label-for="v-primer_nombre"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="nombre"
                      rules="required"
                    >
                      <b-form-input
                        id="v-primer_nombre"
                        v-model="form.primer_nombre"
                        type="text"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Escribe tu nombre"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group
                    label="Segundo Nombre"
                    label-for="v-segundo_nombre"
                  >
                    <b-form-input
                      id="Segundo_nombre"
                      v-model="form.segundo_nombre"
                      type="text"
                      placeholder="Escribe tu segundo nombre"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group
                    label="* Primer Apellido"
                    label-for="v-apellido"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="apellido"
                      rules="required"
                    >
                      <b-form-input
                        id="v-apellido"
                        v-model="form.primer_apellido"
                        type="text"
                        placeholder="Escribe tu primer apellido"
                        :state="errors.length > 0 ? false : null"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="Segundo Apellido" label-for="v-apellido">
                    <b-form-input
                      id="v-apellido"
                      v-model="form.segundo_apellido"
                      type="text"
                      placeholder="Escribe tu apellido"
                    />
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group label="Seleccionar paises">
                    <validation-provider
                      #default="{ errors }"
                      name="pais"
                      rules="required"
                    >
                      <b-form-select
                        v-model="codigo_pais"
                        :options="paises"
                        value-field="codigo"
                        text-field="pais"
                        :state="errors.length > 0 ? false : null"
                        disabled-field="notEnabled"
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group label="Seleccionar ciudades">
                    <validation-provider
                      #default="{ errors }"
                      name="ciudad"
                      rules="required"
                    >
                      <b-form-select
                        v-model="codigo_ciudad"
                        :options="ciudades"
                        value-field="id_ciudades"
                        text-field="nombre_ciudad"
                        :state="errors.length > 0 ? false : null"
                        disabled-field="notEnabled"
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group label="" label-for="v-whatsapp">
                    <validation-provider
                      #default="{ errors }"
                      name="whatsApp"
                      rules="required|min:4|max:16"
                    >
                      <b-row
                        ><b-col>* WhatsApp</b-col>

                        <b-col>
                          <b-form-checkbox
                            id="llenar_cel"
                            name="llenar_cel"
                            style="float: right;"
                            v-model="checked"
                            @change="chekiar()"
                          >
                            Autocompletar celular
                          </b-form-checkbox></b-col
                        >
                      </b-row>

                      <cleave
                        id="whatsApp"
                        v-model="form.whatsApp"
                        class="form-control"
                        :raw="false"
                        :options="options.prefix"
                      />

                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="* Telefono de contacto"
                    label-for="v-celular"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="celular|min:13"
                      rules="required|min:4|max:16"
                    >
                      <cleave
                        id="v-celular"
                        v-model="form.celular"
                        class="form-control"
                        :raw="false"
                        :state="errors.length > 0 ? false : null"
                        :options="options.prefix"
                      />

                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="* Correo" label-for="v-correo">
                    <validation-provider
                      #default="{ errors }"
                      name="correo"
                      rules="required|email"
                    >
                      <b-form-input
                        id="v-correo"
                        v-model="form.correo"
                        disabled
                        type="email"
                        placeholder="Escribe tu correo electronico"
                        :state="errors.length > 0 ? false : null"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
              </b-row>
            </validation-observer>
          </tab-content>

          <!-- personal info tab -->
          <tab-content
            title="Tipo de clientes"
            
          >
            <validation-observer ref="validacionTipoCliente">
              <b-card-code title="Tipo de cliente">
                <b-tabs pills vertical>
                  <!--  <b-tab title="Agente" @click="socio('agentes')">
                    <b-card-text>
                      Si eres un Agente inmobiliario te damos la bienvenida a
                      Addy, la herramienta que optimizará tu desempeño como
                      agente inmobiliario, podrás gestionar referidos, organizar
                      tus inmuebles, seguir al detalle tus clientes y además
                      contaras con un respaldo profesional increíble!!!.
                    </b-card-text>
                  </b-tab>-->
                  <b-tab title="Socio referidor" @click="socio('socio')">
                    <b-card-text>
                      Como socio referidor podrás agregar referidos y gestionar
                      tus referidos, Addy se encargara de apoyarte en el
                      procesos de calificación y obtener beneficios de los
                      negocios realizados.
                    </b-card-text>

                    <!-- <b-button variant="success" @click="confirmText"
                      >registrar</b-button
                    >-->
                  </b-tab>
                </b-tabs>
              </b-card-code>
            </validation-observer>
          </tab-content>

          <!-- address -->
          <!--   <tab-content
            title="Informacion adicional"
            :before-change="validationInfoAdicional"
          >
            <validation-observer ref="validacionAdicional">
              <b-row>
                <b-col md="6">
                  <b-form-group
                    label="* Codigo postal,"
                    label-for="v-codigo_postal"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="codigo_postal"
                      rules="required"
                    >
                      <b-form-input
                        id="v-codigo_postal"
                        v-model="form.codigo_postal"
                        type="text"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Escribe el codigo postal"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="* Fecha de nacimiento"
                    label-for="v-fecha_nacimiento"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="codigo_postal"
                      rules="required"
                    >
                      <b-form-datepicker
                        id="v-fecha_nacimiento"
                        v-model="form.fecha_nacimiento"
                        :state="errors.length > 0 ? false : null"
                        class="mb-1"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
              </b-row>
            </validation-observer>
          </tab-content>


          <tab-content title="Cuestionario">
            <b-row>
              <b-col cols="12" class="mb-2">
                <h5 class="mb-0">Cuentionario</h5>
                <small class="text-muted"></small>
              </b-col>
              <b-col md="6">
                <b-form-group label="Selecciona tu cedula" label-for="v-cedula">
                  <validation-provider
                    #default="{ errors }"
                    name="cedula"
                    rules="required"
                  >
                    <b-form-file
                      id="file2"
                      ref="file"
                      name="file2"
                      class="btn-file"
                      :state="errors.length > 0 ? false : null"
                      @change="onFileChangeCedula"
                    />
                    <b-form-invalid-feedback
                      :state="errors.length > 0 ? false : null"
                    >
                      Este campo es obligatorio
                    </b-form-invalid-feedback>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="Selecciona tu rut" label-for="v-rut">
                  <b-form-file
                    id="file"
                    ref="file"
                    name="file"
                    class="btn-file"
                    @change="onFileChangeRut"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </tab-content>-->
        </form-wizard>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormSelect,
  BFormFile,
  BFormCheckbox,
  BFormInvalidFeedback,
  BButton,
  BFormCheckboxGroup,
  BFormDatepicker,
  BTabs,
  BTab,
  BCardText,
} from "bootstrap-vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import {
  codeIndeterminate,
  codeVueBasic,
  codeIcon,
  codeBasic,
  codeVertical,
} from "../code";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import vSelect from "vue-select";
import { required, email } from "@validations";
import PerfilStoreModule from "../perfilStoreModule";
import perfilStoreModule from "../perfilStoreModule";
import BCardCode from "@core/components/b-card-code";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.us";

export default {
  components: {
    FormWizard,
    TabContent,
    BRow,
    Cleave,
    BCol,
    BFormGroup,
    BFormInput,
    vSelect,
    BFormSelect,
    BCardCode,
    BFormFile,
    BButton,
    BFormInvalidFeedback,
    BFormCheckboxGroup,
    ValidationProvider,
    ValidationObserver,
    BFormDatepicker,

    BFormCheckbox,

    // eslint-disable-next-line vue/no-unused-components
    ToastificationContent,
    BTabs,
    BTab,
    BCardText,
  },

  data() {
    return {
      nextButtonText: {
        type: String,
        default: "Siguiente",
      },
      options: {
        phone: {
          phone: true,
          phoneRegionCode: "US",
        },
        prefix: {
          prefix: "+57",
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
      imageData: "",
      codeVueBasic,
      file: "",
      username: null,
      tipo_documento: [
        { text: "Selecciona tu tipo de documento", value: null },
        { text: "Cedula de ciudadania", value: 1 },
        { text: "Cédula de extranjería", value: 1 },
        { text: "Pasaporte", value: 2 },
        { text: "ID", value: 1 },
      ],
      ciudades: [],
      paises: [],
      Selected_socio_referido: false,
      Selected_agente: false,
      tipo_cliente: [],
      codigo_pais: "Co",
      codigo_ciudad: 12,
      form: {
        id: null,
        codigo_pais: "Co",
        codigo_ciudad: 12,

        foto_persona: "",
        code_tipo_documento: 1,
        numero_cedula: null,
        telefono_fijo: null,
        primer_nombre: "",
        segundo_nombre: "",
        primer_apellido: "",
        segundo_apellido: "",
        fecha_nacimiento: "",
        celular: "",
        whatsApp: null,
        correo: null,
        tipo_cliente: "socio_referidor",
        codigo_pais: null,
        codigo_ciudad: null,
        estado_persona: 1,
        fecha_nacimiento: null,
        direccion_persona: null,
        codigo_postal: null,
        cedula: null,
        rut: null,
      },

      checked: false,
      indeterminate: false,
      codeIndeterminate,
      codeIcon,
      codeBasic,
      email,
      required,
    };
  },

  created() {
    let user = JSON.parse(localStorage.getItem("userData"));
    this.form.correo = user.email;

    this.fetchLocalidades();
  },
  updateUser() {},
  methods: {
    chekiar() {
      if (this.checked == true) {
        this.form.celular = this.form.whatsApp;
      }

      // Sweetalert - Modal

    },
    confirmText() {
      this.$swal({
        title: "Gracias!!!",
        text: "Presiona Ok, para empezar a registrar tus referidos.",
        icon: "success",
        showCancelButton: false,
        confirmButtonText: "Ok",
        // cancelButtonText: "Cancelar",
        customClass: {
          confirmButton: "btn btn-primary",
          // cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.enviarData();
          //this.$router.push({ name: "pages-profile" });
        }
      });
    },

    validationInformacionBasica() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionInfoBasica.validate().then((success) => {
          if (success) {
            let formData = new FormData();
            formData.append("numero_cedula", this.form.numero_cedula);
            formData.append("celular", this.form.celular);
            formData.append("whatsApp", this.form.whatsApp);
            formData.append("correo", this.form.correo);

            const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

            // Register module
            if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
              store.registerModule(
                PERFIL_APP_STORE_MODULE_NAME,
                PerfilStoreModule
              );

            // UnRegister on leave
            onUnmounted(() => {
              if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
                store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
            });

            store
              .dispatch("app-perfil/validateCampos", formData)
              .then((response) => {
                resolve(true);
              })
              .catch((error) => {
                console.log(error);
                reject();
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: "Error de la informacion",
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
            reject();
          }
        });
      });
    },

    enviarData() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionTipoCliente.validate().then((success) => {
          if (success) {
            let user = JSON.parse(localStorage.getItem("userData"));
            this.form.id = user.id_user;
            this.form.codigo_pais = this.codigo_pais;
            this.form.codigo_ciudad = this.codigo_ciudad;
            const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

            // Register module
            if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
              store.registerModule(
                PERFIL_APP_STORE_MODULE_NAME,
                perfilStoreModule
              );

            // UnRegister on leave
            onUnmounted(() => {
              if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
                store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
            });

            store
              .dispatch("app-perfil/addPerfil", this.form)
              .then((response) => {
                let user = response.data.userData;
                localStorage.setItem("userData", JSON.stringify(user[0]));
                this.$store.commit("userData/UPDATE_USER_DATA", user[0]);
                this.$ability.update(user[0].ability);
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: "Perfil editado correctamente",
                    icon: "EditIcon",
                    variant: "success",
                  },
                });
                this.$router.push({ name: "pages-profile" });
              })
              .catch((error) => {
                console.log(error);
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: error.data.message,
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
          }
        });
      });
    },

    validationInfoAdicional() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionAdicional.validate().then((success) => {
          if (success) {
            resolve(true);
          } else {
            reject();
          }
        });
      });
    },
    onFileChangeRut(event) {
      var input = event.target;
      this.form.rut = input.files[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    onFileChangeCedula(event) {
      var input = event.target;
      this.form.cedula = input.files[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    socio(data) {
      let user = JSON.parse(localStorage.getItem("userData"));
      this.form.id = user.id_user;
      if (data === "agentes") {
        this.form.tipo_cliente = "agentes";
      } else {
        this.form.tipo_cliente = "socio_referidor";
      }
    },
    validationTipoCliente() {
      console.log("hola");
      this.enviarData();
      /* return new Promise((resolve, reject) => {
        this.$refs.validacionTipoCliente.validate().then((success) => {
          if (success) {
            let user = JSON.parse(localStorage.getItem("userData"));
            this.form.id = user.id_user;
            const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

            // Register module
            if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
              store.registerModule(
                PERFIL_APP_STORE_MODULE_NAME,
                perfilStoreModule
              );
            console.log(this.form);
            // UnRegister on leave
            onUnmounted(() => {
              if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
                store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
            });

            store
              .dispatch("app-perfil/addPerfil", this.form)
              .then((response) => {
                resolve(true);
                //   this.$router.push({ name: 'apps-Perfil-list'})
              })
              .catch((error) => {
                console.log(error);
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: error.data.message,
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
            reject();
          }
        });
      });*/
    },
    toggleIndeterminate() {
      this.indeterminate = !this.indeterminate;
    },

    fetchLocalidades() {
      const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

      // Register module
      if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
        store.registerModule(PERFIL_APP_STORE_MODULE_NAME, perfilStoreModule);

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
          store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
      });

      store
        .dispatch("app-perfil/fetchCreatePerfil")
        .then((response) => {
          this.ciudades = response.data.ciudades;

          this.paises = response.data.paises;
          this.tipo_cliente = response.tipo_cliente;
        })
        .catch((error) => {
          console.log(error);
          this.$toast({
            component: ToastificationContent,
            props: {
              title: error.data.message,
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },

    //formulario para enviar informacion

    formSubmitted() {
      let formData = new FormData();
      formData.append("numero_cedula", this.form.numero_cedula);
      formData.append("estado_persona", this.form.estado_persona);
      formData.append("fecha_nacimiento", this.form.fecha_nacimiento);
      formData.append("direccion_persona", this.form.direccion_persona);
      formData.append("tipo_cliente", this.form.tipo_cliente);
      formData.append("codigo_postal", this.form.codigo_postal);
      formData.append("documento_cedula", this.form.cedula);
      formData.append("documento_rut", this.form.rut);

      const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

      // Register module
      if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
        store.registerModule(PERFIL_APP_STORE_MODULE_NAME, perfilStoreModule);

      // UnRegister on leave
      onUnmounted(() => {
        if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
          store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
      });

      if (this.form.rut != null) {
        store
          .dispatch("app-perfil/fetchPerfilAdicional", formData)
          .then((response) => {
            console.log(response);
            let user = response.data.userData;
            localStorage.setItem("userData", JSON.stringify(user[0]));
            this.$store.commit("userData/UPDATE_USER_DATA", user[0]);
            this.$ability.update(user[0].ability);
            this.$router.push({ name: "pages-profile" });
            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Tu perfil se actualizo correctamente",
                icon: "EditIcon",
                variant: "success",
              },
            });
          })
          .catch((error) => {
            console.log(error);
            this.$toast({
              component: ToastificationContent,
              props: {
                title: error.data.message,
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      } else {
        this.$toast({
          component: ToastificationContent,
          props: {
            title:
              '"Si no posee RUT, por favor sube tu cédula nuevamente. "  (Y le seleccionar en el campo RUT)',
            icon: "EditIcon",
            variant: "danger",
          },
        });
      }
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
